.heading
{
    width:200px;
    height:200px;
    border-radius:50%;
    margin:20px;
    padding:20px;
}
  /* fallback for old browsers */
    body{
    	background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
span{
    text-align: center;
    font-size: 200%;
    color:#587786;
}
.image{
    text-align:center;
    border: 1px groove black;
    border-radius: 5px;
    padding:10px;
    margin:10px;
}
